/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Quicksand;
	src: url('../fonts/Quicksand-Regular.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body {
	font-family: 'Quicksand', sans-serif, Arial, serif;
	line-height: 1.8;
	font-size: 16px;
	background: #fff;
	font-weight: 300;
	position: relative;
}

a {
	color: #333;
	-webkit-transition: 0.5s !important;
	-o-transition: 0.5s !important;
	transition: 0.5s !important;
}
a:hover {
	text-decoration: none;
	color: #333;
}
p {
	font-size: 15px;
	color: #444;
	font-weight: 300;
	line-height: 1.6;
	font-family: 'Quicksand', sans-serif, Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Quicksand', sans-serif, Arial, serif;
	font-weight: 500;
	margin: 0;
	line-height: 1.6;
	font-size: 16px;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
	color: #333;
}
.hidden{
	display: none !important;
}
.clearfix{
	clear: both;
}

.img-responsive{
	display: block;
	width: 100%;
	height: auto;
}

#return-to-top {
	cursor: pointer;
	position: fixed;
	z-index: 999;
	bottom: 100px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top svg {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 11px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover svg {
	color: #fff;
	top: 5px;
}

.call {
	position: fixed;
	right: 20px;
	bottom: 90px;
	z-index: 999;
	width: 50px;
	height: 50px;
	line-height: 33px;
	margin: 0 auto;
	border-radius: 50%;
	animation: play 1.5s ease infinite;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.call a {
	position: absolute;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	z-index: 999999 !important;
	/*background: #e89f10;*/
	background-image: -webkit-linear-gradient(90deg, #e89f10 35%, #f74704 100%);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	font-size: 25px;
	border: 1px solid #fff;
	transition: .5s ease-in-out;
}
.call:hover {
	animation: none;
	transform: scale(1.2);
}

@keyframes play {
	0% {
		transform: scale(1);
	}
	15% {
		box-shadow: 0 0 0 20px hsla(21, 90%, 75%, 0.42);
	}
	25% {
		box-shadow: 0 0 0 20px hsla(21, 90%, 75%, 0.42), 0 0 0 40px hsla(21, 90%, 75%, 0.42);
	}
	30% {
		transform: scale(1.2);
	}
}
header {
	background-color: beige;
	position: fixed;
	width: 100%;
	z-index: 99;
	
}

.collapse.navbar-collapse {
	padding-right: 49px;
	padding-left: 50px;
}


.form-control.mr-sm-2 {
	width: 460px;
	height: 40px;
	border: 1px solid red;
	border-radius: 30px;

}
.form-inline.my-2.my-lg-0 {
	width: 450px;
	height: 40px;
	position: relative;
}

.btn.btn-outline-success.my-2.my-sm-0 {
    position: absolute;
    right: .5rem;
    top: 0;
    bottom: 0;
    border-radius: 0px 30px 30px 30px;
    border: 1px solid red;
    background-color: red;
    color: aliceblue;
    text-align: center;
    line-height: 0px;
    width: 100px;
}
.login {	

    font-weight: 700;
}

.item-login {
    display: inline-block !important; 
    padding-left: 30px !important;
}
.navbar-nav.mr-auto {
    padding: ;
    margin-left: 60px;
}
.nav-bar {
    background-color: black;
}


.navbar-nav.mr-auto {
    margin: 0 auto;
        margin-right: auto;
}
.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}
.nav-link {
    color: aliceblue;
    font-size: ;
    display: inline-block;
    font-weight: 700;
}


main {
	padding-top: 79px;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.title {
    text-align: center;
    padding-top: 70px;
}
.title {
    font-weight: 700;
    color: red;
    font-size: 40px;
}

.row.group-product {
    padding-top: 60px;
}
.sub-group {
    padding: 20px 20px 20px 20px;
    border: 1px solid;
    border-radius: 30px;
    height : 500px;
    background-color: #e2e2e2;
}

.content-title {
    font-size: 20px;
    font-weight: 700;

}

.img-responsive.iconproduct {

    width: 80px;
    height: auto;
    display: inline-block;

}
.btn {
    width: 100%;

    position: relative;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #000;
    font-size: 17px;
    font-weight: 700;

}

.number {
    float: right;
     background-color: aliceblue;
    border: 1px solid;
    border-radius: 5px;
}
.btn.view_more {

    text-align: center;
    border: 0px !important;
    border-radius: 20px;
    padding-top: 30px;
}
.main-background-bottom {
	margin-top:80px;
	background-image: url('../images/background.jpg');
	height:800px;
}
.title-main-background {
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
}
.content-main-background {

    color: aliceblue;
    font-size: 17px;
    font-weight: 700;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.content-main-background {
    text-align: center;
}	

.row.image-aboutus {
    padding-top: 70px;
    text-align: center;
}
.img-responsive.image-background {
    border-radius: 0px 30px;
}
.btn.btn-primary {
    text-align: center;
    width: 150px;
    background-color: #ae120a;
    border: 0px;
    border-radius: 0px 20px;
}

.sub_group {
    border: 1px solid red;

    border-radius: 30px;
}





.btn.btn-primary.button-sub {
    position: absolute;
    top: 0;
    bottom: 0;

    right: 15px;
    display: flex;
    width: 140px;
}
.fllow-button {
    padding-top: 80px;
}
.title.follow {
    font-size: 20px;
    font-weight: 700;
        padding-left: 80px;
    padding-top: 5px;
}
.fab.fa-facebook-square.fa_icon {
    position: absolute;
    left: 30px;
    font-size: 50px;
    top: 20%;
}
.info.follow {
    font-size: 17px;
    font-weight: 700;
    padding-left: 70px;
}



footer {
	background-color:#202020;
}
.img-responsive.logo-footer {
    width: 15%;
    padding-top: 40px;
    height: auto;
}

.col-xs-3.col-sm-3.col-md-3.col-lg-3.content-footer {
    padding-top: 30px;
}
.content-footer {
    font-size: 20px;
    color: aliceblue;
    font-weight: 700;
}
.title-footer {
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}
.category-footer {
    color: aliceblue;
}
.info-footer {
    padding-top: 6px;
    color: aliceblue;
    font-weight: 700;
}

footer .sub_footer_socialite .gr_sub ul.sub-share{
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li{
	float: right;
	margin: 0  0  0 15px;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li a{
	color: rgb(255, 255, 255);
	background: none;
	padding: 7px 8px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li a svg{
	width: 18px;
	height: 18px;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li a:hover{
	color: #FFB000;
	background: none;
	padding: 11px 12px;
	border: 4px solid #FFB000;
	border-radius: 50%;
}




/* lg */ 
@media (min-width: 1331px) {
}

@media (max-width: 1330px) {
}
@media (max-width: 1199px) {
}

/* md */
@media (max-width: 991px) {
}

/* sm */
@media (max-width: 767px){
}

/* xs */
@media (max-width: 575px){
}

@media (max-width: 440px){
}

@media (max-width: 340px){
}

@media (max-width: 300px){
}
